@import '~react-responsive-carousel/lib/styles/carousel.min.css';

/* purgecss start ignore */

.chosen-cursor {
  margin-top: -0.8rem;
  width: 18px;
  height: 18px;
  border: none;
}

.delivery-slider {
  height: 9px;
}

.carousel-wrapper {
  top: -75px;
}

.carousel .slide,
.carousel.carousel-slider .control-arrow:hover {
  background: none;
}

.carousel.carousel-slider .control-arrow {
  opacity: 1;
}

.control-prev:before,
[dir='rtl'] .control-prev:before {
  content: url('../../asset/backBtn.svg') !important;
}

.control-next:before,
[dir='rtl'] .control-next:before {
  content: url('../../asset/nextBtn.svg') !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: none;
}

.carousel .control-next.control-arrow:before {
  border-left: none;
}

.top-car-custom-image-top {
  top: 65px;
}

.custom-height-detail {
  height: 228px;
}

.custom-display-relative-absolute {
  position: absolute;
}

.min-h-feature-area-custom {
  min-height: 560px;
}

.custom-width-2-3-full {
  width: 66.666667%;
}
.custom-width-1-3-full {
  width: 33.333333%;
}

.custom-width-modal {
  width: 50%;
}

@media only screen and (max-width: 768px) and (min-width: 400px) {
  .custom-height-detail {
    height: 188px;
  }
  .custom-width-2-3-full {
    width: 100%;
  }
  .custom-width-1-3-full {
    width: 100%;
  }
  .carousel.carousel-slider .control-arrow {
    top: -80% !important;
  }
  .carousel .control-next.control-arrow {
    right: 34%;
  }
  .carousel .control-prev.control-arrow {
    left: 34%;
  }
  .custom-display-relative-absolute {
    position: static;
  }
  .min-h-feature-area-custom {
    min-height: auto;
  }
  .custom-width-modal {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .top-car-custom-image-top {
    top: 1300px;
  }
  .custom-display-relative-absolute {
    position: fixed;
  }
  .carousel.carousel-slider .control-arrow {
    top: -80% !important;
  }
  .carousel .control-next.control-arrow {
    right: 34%;
  }
  .carousel .control-prev.control-arrow {
    left: 34%;
  }
  .custom-display-relative-absolute {
    position: static;
  }
  .min-h-feature-area-custom {
    min-height: auto;
  }
  .custom-width-2-3-full {
    width: 100%;
  }
  .custom-width-1-3-full {
    width: 100%;
  }
  .custom-width-modal {
    width: 100%;
  }
}
