.page-header-title::before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #3775df;
  border-width: 25px;
  margin-left: -25px;
}

.min-h-page-title-area-custom {
  min-height: auto;
}

@media only screen and (max-width: 768px) {
  .min-h-page-title-area-custom {
    min-height: auto;
  }
}
